<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="tradedata" connectionString="Data Source=132.148.185.6;Initial Catalog=tradedata;User ID=tradeadmin;Password=Simple@123#;Max Pool Size=900;Connect Timeout=6000"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="40"/>
    <machineKey validationKey="9D94C339F1C6CA342D224ADF3193EE0B1F41F3663F62D3A3D4D7CABBA82C9BB219BBE30CF5DEA5798A9531B0C9378FFA3C70B5CA77299A027DF362B834E163EB" decryptionKey="4D152A2E3861B402292CC82D6DDCFD7674A8CD7B06DD86A4D5A440717AA1AFE4" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.5" tempDirectory="D:\INETPUB\VHOSTS\msksoftware.co.in\tmp">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="250840" executionTimeout="300000" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off" defaultRedirect="mycustompage.htm"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="819200000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000"/>
        <!-- 3GB -->
      </requestFiltering>
    </security>
    <httpErrors/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>